services:
  webapp:
    image: 167918485905.dkr.ecr.ap-south-1.amazonaws.com/lavagna:${TAG}
    env_file:
      - project/.env
    networks:
      - frontend

  nginx:
    image: nginx:alpine
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf
      - ./nginx/conf.d:/etc/nginx/conf.d
      - ./project/src/main/webapp:/usr/share/nginx/html
      - ./project/target/lavagna/help:/usr/share/nginx/help
    ports:
      - "80:80"
      - "8081:8081"
    depends_on:
      - webapp
    networks:
      - frontend

networks:
  frontend:
    driver: bridge
